// Define default parameters
params {
	reads	= "${projectDir}/samp"
	results	= "OUTPUT"
	SEQ	= "ILL"
	minbqual	= "13"
	RP	= "0"
	minphred20	= "4"
	mincovf	= "4"
	mincovr	= "4"
	ref="M._tuberculosis_H37Rv_2015-11-13"
	reff = "${projectDir}/REF/${ref}.fasta"
	bed = "$projectDir/REF/h37rv_ups_ordered.bed.gz"
	bedix= "$projectDir/REF/h37rv_ups_ordered.bed.gz.tbi"
	kraken = true
	krakendb = ""
	tgene="$projectDir/REF/target_genes.bed"
	pharma=false
	pgene="$projectDir/REF/gene_drug.csv"
	tdrug=10
	dhead="$projectDir/REF/head"
	who_cat="$projectDir/REF/WHO_custom.csv"
	extra=true
	join=true
	sj="$projectDir/REF/placehold"
	proj='def'
	ascii="$projectDir/REF/ascii_string"
	h=false
	head_who="$projectDir/REF/Header_WHO.csv"

}

nextflow.enable.dsl = 2